
.sellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 130px;
    position: relative;
}

.sellers__title {
    font-weight: 600;
    line-height: 54px;
    font-size: 44px;
    color: var(--textprimarycolor);
    text-align: center;
    margin-bottom: 65px;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab__btn-wrapper {
    margin-bottom: 99px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}

.tab__card-wrapper {
    display: flex;
    gap: 93px;
    flex-wrap: wrap;
    justify-content: center;
}

  @media (max-width:568px) {
    .sellers {
        padding: 56px;
    }
    .tab__btn-wrapper {
        flex-direction: column;
    }

    .tab__card-wrapper {
        width: 100%;
    }
  }