.btn-buy{
    width: 263px;
    height: 70px;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(132, 94, 194, 0.15);
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: white;
}

.card__btn {
    width: 100%;
  }

.button-outline {
    background-color: transparent;
    color: white;
    font-size: 21px;
    line-height: 35px;
    font-weight: 600;
    border: none;
}

.button-outline_product-descr{
    margin-left: 49px;
}

.button-oval {
    width: 177px;
    height: 91px;
    background-color: var(--primary);
    border-radius: 50%;
    color: white;
    font-size: 26px;
    border: none;
    font-weight: 600;
}

.button-oval_transparent {
    color: #000000;
    background-color: transparent;
}

.button-oval_margin-l {
    margin-left: 40px;
}

.card-btn {
    width: 100%;
}

.sellers__title-mb{
    margin-bottom: 55px;
}

.btn-buy_launches{
    width: 303px;
}

.btn-buy_footer {
    border-radius: 0;
    width: 175px;
    height: 50px;
    font-size: 17px;
}

