@import url(./fonts.css);
@import url(./buttons.css);
@import url(./card.css);

:root {
    --primary: #10b981;
    --primary-hover: #0d89be;
    --primary-bg: #f5f5f5;
    --textprimarycolor: #2b2626;
    --primary-products: #845EC2;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

body {
    width: 100%;
    background-color: var(--primary-bg);
}

.header {
    min-height: 888px;
    margin-top: 56px;
}

.header__container {
    max-width: 1920px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: end;
    gap: 25px;
    padding: 0 85px;
}

.header__logo {
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    color: #10B981;
    font-style: italic;
    margin-right: auto;
}

.header__logo-black {
    color: black;
}

.header__form-search {
    position: relative;
    display: flex;
    align-items: center;
}

.header__form-search::after {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 38px;
    height: 38px;
    background-image: url("../img/search-Filled.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary);
    border-radius: 5px;

    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header__form-search::placeholder {
    color: var(--textprimarycolor);
}

.header__input-field {
    width: 322px;
    height: 63px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 15px 50px rgba(46, 131, 158, 0.07);
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    padding-left: 32px;
    color: var(--textprimarycolor);

}

.header__basket-info {
    width: 229px;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 30px;
    padding-left: 75px;
    position: relative;
}

.header__basket-info::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 20px;
    height: 25px;
    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-position: center;

    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.header__authorization {
    width: 247px;
    height: 60px;
    background-color: var(--primary);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    color: white;
    padding-left: 35px;
    position: relative;
}

.header__authorization::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 20px;
    height: 25px;
    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: center;

    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.menu {

    height: 81px;
    margin-top: 63px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.menu .menu__link {
    display: inline;
    background-color: transparent;
    color: #fff;
}

.menu .menu__link a {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}

.menu li:not(:first-child) {
    margin-left: 75px;
}

/* About */
.about {
    margin-left: 85px;
    display: flex;
    gap: 129px;
}

.about__descr {
    width: 600px;
    display: inline-flex;
    flex-direction: column;
    margin-top: 126px;
    margin-bottom: 85px;
}

h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    color: var(--textprimarycolor);
}

h1::first-letter {
    font-size: 84px;
    color: var(--primary);
}

.about__descr_text {
    font-weight: 500;
    font-size: 21px;
    line-height: 35px;
    color: var(--textprimarycolor);
    margin-top: 30px;
}

.about__descr__container {
    display: flex;
    flex-direction: column;
    gap: 110px;
    margin-top: 52px;
}

.icons {
    position: relative;
    width: 180px;
}

.icons__face {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 2;
}

.icon2 {
    position: absolute;
    left: 37px;
}

.icon3 {
    position: absolute;
    left: 74px;
}

.icon4 {
    position: absolute;
    left: 112px;
}

.about__reviews {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 107px;
}

.about__reviews_descr {
    font-size: 26px;
    line-height: 35px;
    font-weight: 500;
    color: var(--textprimarycolor);
    display: inline-block;
    width: 120px;
}

.about__interactive {
    margin-top: 173px;
    width: 538px;
    height: 600px;
    display: inline-flex;
}

.play {
    width: 115px;
    height: fit-content;
    display: inline-block;
    position: relative;
    left: -47px;
    top: 354px;
}

.play__img {
    display: block;
    width: 69px;
    height: 69px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.play__img img {
    width: 112px;
    height: 75px;
    margin: 0 0 0 -23px;
}


.play::after {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 84px;
    height: 84px;
    background-image: url("/img/Ellipse\ 21.png");
    background-repeat: no-repeat;
    background-position: center;

    left: 18px;
    top: 30%;
    transform: translateY(-60%);
}


.play__text {
    color: var(--textprimarycolor);
    font-size: 21px;
    line-height: 35px;
    font-weight: 500;
    border: none;
    display: block;
    margin: 18px auto;
    background-color: transparent;
}

.beets {
    margin-left: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.img__beets {
    width: 280px;
    height: 299px;
}

.beets__text {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: var(--textprimarycolor);
}

.beets__text span {
    position: absolute;
    height: 200px;
    width: 20px;
    left: 120px;
    top: 0;
    transform-origin: bottom center;
}

.beets__char1 {
    transform: rotate(-90deg);
}

.beets__char2 {
    transform: rotate(-90deg) translateX(30px);
}

.beets__char3 {
    transform: rotate(-85deg) translateX(40px);
}

.beets__char5 {
    transform: rotate(-80deg) translateX(70px);
}

.beets__char6 {
    transform: rotate(-78deg) translateX(95px) translateY(-5px);
}

.beets__char7 {
    transform: rotate(-50deg) translateX(28px) translateY(-35px);
}

.beets__char8 {
    transform: rotate(-40deg) translateX(20px) translateY(-40px);
}

.beets__char9 {
    transform: rotate(-30deg) translateX(5px) translateY(-45px);
}

.beets__char11 {
    transform: rotate(-20deg) translateX(5px) translateY(-50px);
}

.beets__char12 {
    transform: rotate(-10deg) translateX(5px) translateY(-55px);
}

.beets__char13 {
    transform: rotate(-5deg) translateX(5px) translateY(-55px);
}

.beets__char14 {
    transform: rotate(5deg) translateX(-5px) translateY(-57px);
}

.beets__char15 {
    transform: rotate(15deg) translateX(-15px) translateY(-58px);
}

.beets__char16 {
    transform: rotate(25deg) translateX(-25px) translateY(-55px);
}

.beets__char17 {
    transform: rotate(40deg) translateX(-55px) translateY(-45px);
}

.beets__char18 {
    transform: rotate(50deg) translateX(-45px) translateY(-40px);
}

.beets__char19 {
    transform: rotate(60deg) translateX(-60px) translateY(-30px);
}

.beets__img-price {
    width: 272px;
    height: 477px;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 76px;

    background-color: #ECFEF4;
    border-radius: 136px;
}

.beets__price {
    font-weight: 600;
    font-size: 31px;
    line-height: 38px;
    color: var(--textprimarycolor);
    margin-top: 26px;
}

.products {
    background-color: var(--primary-products);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    flex-wrap: wrap;
    min-height: 591px;
    padding: 85px 0;
}

.images__title {
    font-size: 60px;
    line-height: 73px;
    color: var(--primary-products);
    text-shadow: 0px 0px 3px white;
    font-weight: 600;
}

.images {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.images__container_products {
    margin-top: 37px;
    position: relative;
}

.images__container>img {
    width: 190px;
    height: 331px;

}

.star {
    width: 53px;
    height: 53px;
}

.star__first {
    position: absolute;
    top: -94px;
    left: -71px;
}

.star__second {
    position: absolute;
    top: 460px;
    left: 301px;
}

/* .images__container1 {

} */

.images__container2 {
    position: relative;
    top: -69px;
    margin: 0 30px;
}

/* .images__container2 {

} */

.price {
    font-size: 31px;
    line-height: 35px;
    font-weight: 400px;
    color: white;

}

.price_products {
    margin-left: 201px;
}

.price__text {
    display: inline-block;
}

.price__number {
    display: inline-block;
    font-weight: 600;
    margin-left: 20px;
}

.product-descr {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 55px;
}

.product-descr_normal {
    width: 560px;
}

.product-descr__title {
    font-size: 44px;
    line-height: 54px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;

}

.product-descr__description {
    font-size: 21px;
    line-height: 35px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 35px;
    width: 500px;
}

.product-descr__buttons {
    display: flex;

}

/* Sellers */

.sellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 130px;
}

.sellers__title {
    font-weight: 600;
    line-height: 54px;
    font-size: 44px;
    color: var(--textprimarycolor);
    text-align: center;
}

.sellers__title-margin-bt {
    margin-bottom: 65px;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab__btn-wrapper {
    margin-bottom: 99px;

}

.tab__card-wrapper {
    display: flex;
    gap: 93px;
    flex-wrap: wrap;
}

.launches__title {
    font-weight: 600;
    line-height: 54px;
    font-size: 44px;
    color: var(--textprimarycolor);
    text-align: center;
    margin-top: 130px;
    margin-bottom: 120px;
}

.price_launches {
    margin-bottom: 56px;
}

/* New Launches */

.images_launches {
    width: 525px;
    margin-right: 83px;
}

.product_launches {
    min-height: 591px;
    padding-top: 62px;
}

.images__container_launches {
    position: relative;
    width: 525px;
}

.images__container_launches>img {
    width: 237px;
    height: 417px;
}

.products_padding-left {
    padding-left: 124px;
}

.images__launches-1 {
    margin-right: 45px;
}

.images__launches-2 {
    position: relative;
    top: 50px;
}

.product-descr_big {
    width: 590px;
    margin-top: 10px;
    margin-left: 0;
}

.product-descr__description_launches {
    width: 590px;
}

.price_launches {
    margin-bottom: 50px;
}

.product-descr__colors {
    display: flex;
    gap: 31px;
}

.color {
    height: 43px;
    width: 43px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.product-descr__color1 {
    background-color: black;
}

.product-descr__color2 {
    background-color: #FFF500;
}

.product-descr__color3 {
    background-color: #4484FF;
}


/* footer */

.footer {
    margin: 130px 186px;
}

.footer__started {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

.footer__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
}

.footer__line {
    border-bottom: 1px solid #111111;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 10%;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.footer__container-search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 290px;
    position: relative;

}

.footer__search-input {
    margin-top: 30px;
    width: 289px;
    height: 51px;
    border: none;
    border-bottom: 1px solid #1111110f;
    font-size: 15px;
}

.footer__search::after {
    content: "";
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    top: 88px;
    right: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url("../img/search-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 60%;

}

.footer__search::placeholder {
    color: #111111;
    opacity: 0.5;

}

.footer__menu-link {
    color: #111111;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
}

.footer__menu-link_green {
    color: var(--primary)
}

.footer__container-policy-socials {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.footer__policy {
    display: flex;
    gap: 40px;
}

.footer__policy-text>a {
    color: #111111;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.footer__socails {
    display: flex;
    gap: 40px;
    cursor: pointer;
}

@media (max-width:1140px) {
    .header__form-search {
        width: 218px;
    }

    .about__descr {
        width: 810px;
    }

    .about {
        display: flex;
        margin: 0;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }

    .about__descr__container {
        flex-direction: row;
    }

    .about__descr_btn {
        width: 50%;
    }

    .about__interactive {
        margin-top: 127px;
    }
}

@media (max-width:968px) {
    .about {
        margin-left: 45px;
    }

    .header__basket-info {
        display: none;
    }

    .header__authorization {
        display: none;
    }

    .about__descr__container {
        flex-direction: row;
        gap: 50px;
    }

    .about__descr {
        width: 475px;
    }
}

@media (max-width:768px) {

    .play,
    .star,
    .images__container3 {
        display: none;
    }

    .about__interactive {
        justify-content: center;
    }

    .images__container_products {
        display: flex;
        justify-content: center;
    }

    .images__title {
        text-align: center;
    }

    .images__container2 {
        top: 0;
    }

    .price_products {
        margin: 0;
        text-align: center;
        margin-top: 40px;
    }

    .product-descr-normal,
    .about__descr {
        width: 100%;
        padding: 0 20px;
    }

    .product-descr__buttons {
        flex-direction: column;
    }

    .product-descr__buttons .btn-buy_launches {
        width: 100%;
    }

    .product_launches {
        padding: 54px 40px;
    }

    .footer__nav {
        flex-direction: column;
        gap: 20px;
    }

    .footer__menu {
        flex-direction: row;
    }

    .footer__search-input {
        width: 100%;
    }
}

@media (max-width:568px) {
    .header__wrapper {
        flex-direction: column;
        padding: 0 30px;
    }

    .header__form-search>input {
        width: 100%;
    }

    .menu {
        gap: 40px;
    }

    .about {
        margin-left: 20px;
    }

    h1 {
        font-size: 45px;
        line-height: 50px;
    }

    .about__descr__container {
        flex-direction: column-reverse;
    }

    .about__descr_btn {
        width: 100%;
    }

    .images__container1 {
        display: none;
    }

    .button-card_product-descr {
        width: 100%;
    }

    .button-outline_product-descr {
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }

    .about__interactive {
        display: none;
    }

    .images__container_launches {
        display: none;
    }

    .images__launches-2 {
        display: none;
    }

    .product-descr_big {
        margin-top: 20px;
    }

    .footer__started,
    .footer__policy {
        flex-direction: column;
    }

    .footer__col2,
    .footer__col3,
    .footer__col4 {
        flex-wrap: wrap;
    }
}

@media (max-width:360px) {
    .menu {
        gap: 25px;
    }



}