@import url(./fonts.css);
@import url(./buttons.css);
@import url(./card.css);

:root {
    --primary: #10b981;
    --primary-hover: #0d89be;
    --primary-bg: #f5f5f5;
    --textprimarycolor: #2b2626;
    --primary-products: #845EC2;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

body {
    width: 100%;
    background-color: var(--primary-bg);
}




/* Sellers */



/* New Launches */




/* footer */



@media (max-width:568px) {
    .header__wrapper {
        flex-direction: column;
        padding: 0 30px;
    }

    .header__form-search>input {
        width: 100%;
    }

    .menu {
        gap: 40px;
    }

    .about {
        margin-left: 20px;
    }

    h1 {
        font-size: 45px;
        line-height: 50px;
    }

    .about__descr__container {
        flex-direction: column-reverse;
    }

    .about__descr_btn {
        width: 100%;
    }

    .images__container1 {
        display: none;
    }

    .button-card_product-descr {
        width: 100%;
    }

    .button-outline_product-descr {
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }

    .about__interactive {
        display: none;
    }

    .images__container_launches {
        display: none;
    }

    .images__launches-2 {
        display: none;
    }

    .product-descr_big {
        margin-top: 20px;
    }

    .footer__started,
    .footer__policy {
        flex-direction: column;
    }

    .footer__col2,
    .footer__col3,
    .footer__col4 {
        flex-wrap: wrap;
    }
}

