.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #10b981;
    color: white;
    border: none;
    font-size: 25px;
    transition: all ease 0.2;
}

.close:hover {
    background-color: #0b996a;
    transition: all ease 0.3;
}